{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Starshop {% endblock %}
{% block body %}
    <div>
        <table>
            <tr>
                <th>Name</th>
                <td>
                    <a href="{{ path('app_starship_show', {
                        id: myShip.id
                    }) }}">{{ myShip.name }}</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}